:root{
  --dark-green: rgba(217, 217, 217, 1);
} 

.cv-background{
  background-color: rgba(245, 247, 250, 1);
  height: 1399px;
  width: 1280px;
  margin: auto;
  display: flex;
}

.cv-size-background{
  background-color: rgba(255, 255, 255, 1);
  height: 1319px;
  width: 1200px;
  margin: auto;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-self: center;
  justify-self: center;
}

.about-me-section{
  background-color: var(--dark-green);
  height: 339px;
  width: 1158px;
  margin-top: 32px;
  margin-left: 21px;
}

.photo{
  
}